/* ===================================================================
 * # hero
 * ------------------------------------------------------------------- */
html,
body,
.hero {
    height: 100%;
}

.hero {
    display: -ms-flexbox;
    display: flex;
    background-image: url("../../images/bg.jpg");
    background-size: cover;
    color: #fff;
    background-color: #333;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

/* ===================================================================
 * # navbar
 * ------------------------------------------------------------------- */
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

/* ===================================================================
 * # about
 * ------------------------------------------------------------------- */
.about-container {
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    margin-right: auto;
    margin-left: auto;
}

.h2-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    margin-bottom: 25px;
}

/* ===================================================================
 * # featurettes
 * ------------------------------------------------------------------- */
.featurette-container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

.featurette-divider {
    margin: 2rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.link-btn-container {
    margin-bottom: 25px;
}

/* ===================================================================
 * # testimonials
 * ------------------------------------------------------------------- */
.sec-testimonials {
    padding-top: 25px;
    margin-bottom: 100px;
}

/* ===================================================================
 * # carousel
 * ------------------------------------------------------------------- */
.carousel-indicators {
    bottom: -30px;
}

.carousel-indicators li {
    background: rgba(33, 33, 33, 0.1);
}

.carousel-indicators li:focus,
.carousel-indicators li:hover {
    background: rgba(33, 33, 33, 0.5);
}

.carousel-indicators .active {
    background: rgba(33, 33, 33, 0.75);
}

.carousel-control-next,
.carousel-control-prev {
    color: #212121;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #111;
}

/* ===================================================================
 * # skills
 * ------------------------------------------------------------------- */
section.s-skills {
    padding-top: 12rem;
    padding-bottom: 16rem;
    background-color: #e6e6e6;
    color: #757575;
    position: relative;
}

section.s-skills>div.skills-outer {
    margin-top: 3.6rem;
    /* padding-bottom: 9rem; */
    text-align: center;
    position: relative;
}

.skillContainer {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
}

.skillIconContainer {
    height: 6rem;
    width: 6rem;
    display: inline-block;
    margin: 38px;
}

.skillIconContainer img {
    height: 100%;
    width: 100%;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * headings
 * ------------------------------------------------------------------- */
@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

@media (min-width: 40em) {

    .h2-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .h2-heading {
        margin-top: 2rem;
    }
}

@media (min-width: 40em) {

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/* ------------------------------------------------------------------- 
 * responsive:
 * skills
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    section.s-skills {
        padding-bottom: 14rem;
    }

    .skillContainer {
        margin-top: 3rem;
    }

    .skillIconContainer {
        height: 6rem;
        width: 6rem;
        display: inline-block;
        margin: 30px;
    }

    .skillIconContainer p {
        font-size: 1.2rem;
    }
}


@media only screen and (max-width: 1000px) {
    section.s-skills {
        padding-bottom: 12rem;
    }

    .skillContainer {
        margin: 2rem;
    }

    .skillIconContainer {
        height: 6rem;
        width: 6rem;
        display: inline-block;
        margin: 30px;
    }

    .skillIconContainer p {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 800px) {
    section.s-skills {
        padding-bottom: 8rem;
    }

    .skillContainer {
        margin-top: 1rem;
    }

    .skillIconContainer {
        height: 5rem;
        width: 5rem;
        display: inline-block;
        margin: 30px;
    }

    .skillIconContainer p {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 600px) {
    section.s-skills {
        padding-top: 12rem;
        padding-bottom: 4rem;
    }

    .skillContainer {
        margin-top: 0.5rem;
    }

    .skillIconContainer {
        height: 5rem;
        width: 5rem;
        display: inline-block;
        margin: 24px;
    }

    .skillIconContainer p {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 400px) {
    .skillContainer {
        margin-top: 0.05rem;
    }

    .skillIconContainer {
        height: 5rem;
        width: 5rem;
        display: inline-block;
        margin: 30px;
    }

    .skillIconContainer p {
        font-size: 1rem;
    }

}